<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>
            <a href = "/bookslist/add" class= "btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Book </a>   
        <br>        
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Author</th>
                <th class="text-center col-1">Published</th>
                <th class="text-center col-4">Description</th>
                <th class="text-center col-1">Price</th>
                <th class="text-center col-1"></th>
                <th class="text-center col-1"></th>
            </tr>
            <% for(let count=0;count<BookList.length;count++) { %>    
            <tr>
                <td class="text-center col-2"><%= BookList[count].name %></td>
                <td class="text-center col-2"><%= BookList[count].author %></td>
                <td class="text-center col-1"><%= BookList[count].published %></td>
                <td class="text-center col-4"><%= BookList[count].discription %></td>
                <td class="text-center col-1"><%= BookList[count].price %></td>
                <td class="text-center col-1">
                   <a href="/bookskist/edit/<%= BookList[count].price %>"
                      class="btn btn-primary">
                      <i class="fas fa-pencil-alt"></i> Edit </a>

                
                </td>

                <td class="text-center col-1">
                   <a href="/bookslist/delete/<%= BookList[count].price %>"
                      class="btn btn-danger">
                      <i class="fas fa-trash-alt"></i> Delete </a>

                
                </td>
                
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>